.page {
  margin: auto;
  margin-top: 50px;
  max-width: min(1355px, 90%);

  .headerBox {
    width: 100%;
    font-size: 30px;
    margin-bottom: 2rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;

    main {
      flex-grow: 1;
    }
  }
}